body {
  padding: 15px;
}

td {
  padding: 15px;
  box-shadow: 0px 0px 10px lightgrey;
  height: 130px;
  width: 133px;
  text-align: center;
  padding-top: 22px;
}

.newGame {
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  outline:none;
}

.winning {
  color: green;
}

.thinking {
  color: darkblue;
}

.user {
  color: orangered;
}








































